body{
    background-color:#d4fff5;
}
h1, h2, h4 {color:#ff0055;}
nav {background-color:#e5e3ff;}
nav {color:black;}
nav a:hover{background-color:	#d9ffcd;}
nav {padding: 1em;}
nav {margin-bottom: 1.875em;}
nav{border-radius: 1em;}
.artist{float:left;
padding:10px;
border-radius: 1em;}
.bio{float:clear;}
h1,h2,h3 {text-align:center;}
.butterfly2{
    display: block;
    margin-left: auto;
    margin-right: auto;}
.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main{text-align:center;}

.star{display: block;
margin-left: auto;
margin-right: auto;}

.camera{
    display: block;
    margin-left: auto;
    margin-right: auto;}
.space{ background-image: url(images/space.jpeg);}
.courtneybg,.alanabg,.chloebg,.marcelabg,.mehabg,.bellabg,.oliviabg,.courtney2bg {background-color: #d4fff5;
padding:1em;}

@media only screen and (max-width: 37.5em)
{nav a {display:block;}
    nav a {max-width: 100%;}
span {display: none;}
header {display: none;}
}
.clear {clear:both;}