h1, h2, h3, caption, th {color:#F56991;}
a:link {color:#F56991;}
a:visited {color:#000000;}

body{
    background-color:#eafcd2;
}

nav {background-color:#e5e3ff;}
nav a {color:#F56991;}
nav a:hover{background-color:#FFC48C;}
nav {padding: 10px}
nav {margin-bottom: 30px}

p, tr, td, li, form {color:#91a6f8;}